html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 21px;
}
.wrapper {
    width: 1170px;
    padding: 0 20px 0;
    margin: 0 auto;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
.page_nav {
    margin: 0;
    padding: 50px 0 20px 0;
}
h1 {
    display: inline;
}
.logo {
    display: inline-block;
    padding: 4px 0 0 0;
    font-weight: 200; 
    height: 22px; 
    font-size: 26px;
    color: #333232;
    text-decoration: none;
    text-transform: uppercase;
}
.logo:first-letter {
    color: #1abc9c;
    font-weight: 800;
}
.site_navigation {
    float: right;
    margin: 0;
    padding: 6px 0 0 0;
    font-size: 14px;
    list-style: none;
    text-decoration: none;
}
.site_navigation li {
    float: left;
}
.site_navigation li:not(:last-child) {
    margin-right: 20px;
}
.site_navigation a {
    font-size: 14px;
    line-height: 11px;
    color: #323232;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.site_navigation a:hover,
.site_navigation a:focus {
    color: #1abc9c;
}
.item {
    margin: 0;
    padding: 40px 0 50px 0;
    font-size: 48px;
    line-height: 94px;
    color: #515151;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.item::after {
    margin: auto;
    display: block;
    width: 200px;
    height: 7px;
    background-color:#1abc9c;
    content: "";
}
.products {
    font-size: 0;
}
.products_list {
    list-style: none;
    padding: 0;
}
.products_item {
    float: left;
    list-style: none;
    margin-right: 38px;
    margin-bottom: 40px;    
    width: 252px;
    border: #1abc9c;
}
li:nth-of-type(4n) {
    margin-right: 0;
}
li:nth-last-child(4) {
    margin-bottom: 0;
}
img {
  padding: 0;
  display: block;
}
.name_product {
    float:left;
    width: 202px;
    height: 41px;
    margin: 0;
    padding: 10px 0 0 10px;
    font-size: 18px;
    text-align: middle;
    font-weight: 600;
    color: #fff;
    margin-top: 0;
    background-color: #323232;
    text-transform: uppercase;
}
.price {
    float:right;
    width: 50px;
    height: 41px;
    margin: 0;
    padding: 10px 0 0 10px;
    font-size: 18px;
    text-align: middle;
    font-weight: 600;
    background-color: #8c8c8c;
    color: #fff;
    text-transform: uppercase;
}
.products_item li:hover .name_product .price {
    background-color: #1abc9c;
    visibility: visible;
    opacity: 1;
}
.item_news {
    margin: 0;
    padding: 40px 0 60px 0;
    font-size: 48px;
    line-height: 94px;
    color: #515151;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.item_news::after {
    margin: auto;
    display: block;
    width: 200px;
    height: 7px;
    background-color:#1abc9c;
    content: "";
}
h2 {
    margin: 0;
}
.news {
    font-size: 13px;
    padding: 0;
    line-height: 24px;
    font-weight: 200;
}
.news_section {
    padding: 0;
    margin: 0;
    font-size: 0;
}
.news_list {
  float: left;
  width: 360px;
  margin: 0;
  padding: 0 0 50px 0;
  margin-right: 25px;
  list-style: none;
}
.news_item {
    text-decoration: none;
    color: rgb(54, 53, 53);
}
.news_about {
    margin: 20px 10px 20px 0;
    font-size: 16px;
    font-weight: 600;
}
.news_about::after {
    display: block;
    margin-top: 10px;
    width: 124px;
    height: 4px;
    background-color:#1abc9c;
    content: "";
}
.news_list:last-child {
    margin-right: 0;
}
.news_about_more {
    margin: 0;
    padding: 0 20px 20px 0;
    font-size: 14px;
}
.button_more {
    display: block;
    width: 160px;
    height: 50px;
    padding: 14px 0 0 30px;
    font-size: 18px;
    background-color: #1abc9c;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
}
a:hover,
a:focus {
    background-color: #8abc8c;
}