$main-font-stack: 'Montserrat', 'Arial', sans-serif;
$secondary-font-stack: 'Kaushan Script', 'Arial', sans-serif;
$last-font-stack: 'Roboto', Arial, sans-serif;


$primary-white-color: #ffffff;
$primary-hover-color: #fce38a;
$primary-bgd-after-color: #f38181;

$primary-grey-color: #999999;
$secondary-grey-color: #e5e5e5;

$primary-dark-color: #333333;
$secondary-dark-color: #141414;

$shadow-pic-color: #95e1d3;

$main-text-size: 14px;
