.services__icon {
  &::before {
    @include pseudo (inline-block, '');
    position: absolute;
    left: 26px;
    top: 5px;
    width: 36px;
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--alarm::before {
    background-image: url(../images/alarm.png);
  }

  &--line::before {
    background-image: url(../images/line.png);
  }

  &--computer::before {
    background-image: url(../images/pc.png);
  }

  &--book::before {
    background-image: url(../images/book.png);
  }

  &--home::before {
    background-image: url(../images/home.png);
  }

  &--image::before {
    background-image: url(../images/image.png);
  }
}

