html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-size: 12px;
    line-height: 21px;
}
div.container {
    width: 900px;
    margin: 0 auto;
}
header.paige_header {
    padding-top: 50px;
    padding-bottom: 42px;
}
.navigation {
    text-align: center;
}
.navigation_list {
    margin: 0;
    padding: 0;
    font-size: 0;
  }
.navigation_list li {
    display: inline-block;
    margin-right: 60px;
    text-align: center;
}
.navigation_list li:last-child {
    margin-right: 0;
}
.navigation a {
    font-size: 16px;
    line-height: 24px;
    color: #626262;
    font-family: "PlayfairDisplay-Regular";
    font-weight: 400;
    list-style: none;
    text-decoration: none; 
    text-transform: uppercase;  
}
.navigation a:hover,
.navigation a:focus {
    color: #223ee0;
}
.container {
    width: 1050px;
    margin: 0;
    padding: 0;
}
.item {
    font-size: 0;
}
.item_title {
    display: inline-block; 
    width: 420px; 
    margin-right: 60px;
    margin-bottom: 50px;
}
.item_title:nth-child(2n) {
  margin-right: 0;  
}
.item_caption {
    margin: 0;
    margin-bottom: 30px;
    font-size: 14px;
    color: #8a8a8aee;
    font-weight: 300;
}
h2 {
    margin: 0;
    margin-bottom: 28px;
    font-size: 31px;
    color: #626262;
    font-weight: 400;
}
.item_title_img {
    margin-bottom: 18px;
}
.item_title_about {
    margin: 0;
    font-size: 15px;
    line-height: 22px;
    color: #626262;
    font-weight: 400;
}
p.item_title_about {
    margin-bottom: 24px;
}
button.container {
    margin: auto;
    padding-bottom: 40px;
    padding-top: 20px;
    text-align: center;
}
.item_button {
    display: block;
    width: 164px;
    height: 60px;
    font-size: 22px;
    color: #626262;
    font-family: "PlayfairDisplay-Regular";
    font-weight: 400;
    cursor: pointer;
}
.item_button a:hover,
.item_button a:focus {
    background-color: #56565c;
}